<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Horoscope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Horoscope.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentZodiac" serializeAs="String">
        <value>aries</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>130</value>
      </setting>
      <setting name="FormFixed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VersionProgramm" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="FontWeight" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FontStyle" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="Foreground" serializeAs="String">
        <value>#FFAAAAAA</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value>#FF070E25</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FontOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WindowOrasity" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="Autorun" serializeAs="String">
        <value>True</value>
      </setting>
    </Horoscope.Properties.Settings>
    <WpfApplication3.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentZodiac" serializeAs="String">
        <value>aries</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>130</value>
      </setting>
      <setting name="formFixed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>False</value>
      </setting>
    </WpfApplication3.Properties.Settings>
  </userSettings>
</configuration>